[user]
	email = matt@bravewaffles.io
	name = captam3rica
[credential "https://github.com"]
	username = captam3rica
[color]
	ui = auto
	editor = /opt/homebrew/bin/nvim
[core]
	editor = /opt/homebrew/bin/nvim
[commit]
	template = ~/.claude/commit-template.txt
[credential]
	helper = cache
[color]
	ui = auto
